* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 400px;
  height: 400px;
  background-color: beige;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: all 3s linear 1s; /*to make transition smooth*/
}
.container {
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 32px;
}
.box:hover {
  /* transform: rotate(360deg); */
  /* transform: scale(2); */
  /* transform: rotate(-45deg); */
  /* transform: skew(45deg); */
  /* transform: skew(-45deg); */
  /* transform: translate(500px); */
  /* transform: translate(-500px); */
  /* transform: translate(0, 500px); moves downwards*/
  transform: translate(0, -500px);
}
