* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: relative;
}
.box {
  height: 100px;
  width: 100px;
  background-color: orange;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*this is used to make box in center*/

  border-radius: 50%;
  animation-name: pie;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-play-state: running;
  animation-iteration-count: infinite;
}
@keyframes pie {
  from {
    transform: rotate(0deg) translateX(200px);
  }
  to {
    transform: rotate(360deg) translateX(200px);
  }
}
